.wrapper {
  display: block;
  width: 100%;
  margin: 0 auto;
  background-color: blueviolet;
}
body {
  margin: 0;
  min-width: 250px;
}

* {
  box-sizing: border-box;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

.header {
  background-color: #f44336;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}
.template-app {
  width: 300px;
  background-color: gray;
  margin-bottom: 20px;
}
.template-header {
  display: flex;
  justify-content: space-around;
}
